/* ****************************************************
  @file         screen.css
  @description  Main stylesheet
  vim: set et ts=4 sts=4 fdm=marker fenc=utf-8:
 ***************************************************** */

/* @section GENERIC ELEMENT {{{
 ******************************************************************************/

@font-face {
    font-family: 'AlfredosDanceRegular';
    src: url('alfredo-webfont.eot');
    src: local('☺'), url('/media/font/alfredo-webfont.woff') format('woff'), url('/media/font/alfredo-webfont.ttf') format('truetype'), url('/media/font/alfredo-webfont.svg#webfontRdQzYRlH') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4, h5, h6, input[type=text], a, li, span {
    font-family: Arial,Helvetica,sans-serif;
    font-weight: normal;
    font-style: normal;
}


h1 {
    font-size: 1.2em;
    text-transform: uppercase;
}

div.article {
    margin-bottom: 2em;
}

div.article h1 {
    margin: 0 0 1em;
}

ul {
    list-style-type: none;
}

h2 {
    font-size: 1em;
}

h3 {
    font-size: 0.9em;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

a {
    text-decoration: none;
    color: #493213;
    font-weight: bold;
}

a > img {
    border-width: 0;
}

/*}}}*/

/* @section ACCESSIBILITY {{{
 ******************************************************************************/

#accessibility {
    padding: 0.4em;
    margin-bottom: 20px;
    background-color: #fdf6ed;
}

#accessibility ul li {
    float: right;
    margin-left: 0.5em;
    padding-left: 0.5em;
}

#accessibility ul li a {
    color: #000000;
    font-size: 0.65em;
}

#accessibility ul li.stroke {
    border-left: 1px solid #414141;
}

/*}}}*/

/* @section GLOBAL CONTENT {{{
 ******************************************************************************/

#whole {
    margin: 0 0;
    padding: 0 0;
    width: 100%;
    text-align: center;
    border-width: 0;
}

#wrapper {
    width: 965px;
    padding: 0 20px;
    margin: 0 auto;
}

#wrapper #header {
    position: relative;
}

#wrapper #header h1.logo {
    text-indent: -500em;
    background-repeat: no-repeat;
    background-image: url('/media/img/ie/ie_header.png');
    height: 424px;
    width: 850px;
    margin: 0 auto;
}

#content,
#introduction {
    margin-top: 30px;
    text-align: left;
}

#content article {
    margin-bottom: 50px;
}

#content ol li {
    position: relative;
    margin-top: 30px;
}

#content p {
    max-width: 900px;
    font-size: 17px;
}

#quotation {
    float: left;
    padding: 25px 0;
}

#quotation p {
    color: #493213;
    font-size: 16px;
}

#not-wanted {
    background-repeat: no-repeat;
    background-image: url('/media/img/ie/ie_not_wanted.png');
    width: 201px;
    height: 227px;
    float: right;
}

#copyright {
    width: 479px;
    height: 49px;
    margin: 0 auto;
    background: transparent url('/media/img/ie/ie_copyright.png') no-repeat center center;
}

/*}}}*/

/* @section GENERIC CLASSES {{{
 ******************************************************************************/

p.quotes {
    width: 664px;
    padding: 0 0 0 100px;
    margin: 40px 0 20px;
    background: transparent url('/media/img/ie/ie_quotes.png') no-repeat 0 0;
}

.separator {
    margin: 0 auto;
    width: 528px;
    height: 18px;
    background-image: url('/media/img/ie/ie_separator.png');
}

.clear {
    clear: both;
}

/*}}}*/

#disqus_thread {
    text-align: left;
}

#disqus_thread h3 {
    text-transform: uppercase;
    font-weight: bold;
}

#dsq-num-posts {
    color: #493213;
    font-weight: bold;
}

#explanations ul {
    list-style-type: disc;
}

#explanations ul li {
    margin-bottom: 10px;
}

#explanations ul li.last {
    margin-bottom: 10px;
}
