@charset "utf-8";

@import "reset.css";
@import "base.css";
@import "pygments.css";

/* ---- GENERIC ELEMENT ---- */

p, h1, h2, input[type=text], a, li, span {
    font-family: Helvetica, "Arial sans-serif";
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
}

a > img {
    border-width: 0;
}

/* ---- A PLUGGED IN LIFE STYLESHEETS ---- */

div#whole {
    background-image: url('/media/img/blog_header_bg.png');
    background-repeat: repeat-x;
    background-color: transparent;
    background-position: 0 0;
}

body.contact div#whole {
    background-image: url('/media/img/contact_header_bg.png') !important;
}

div#whole {
    margin: 0 0;
    padding: 0 0;
    width: 100%;
    border-width: 0;    
}

div#wrapper,
div#accessibility ul,
footer#footer {
    width: 1005px;
    margin: 0 auto;
    position: relative;  
}

    div#wrapper > header {
        position: relative;
    }

        div#wrapper > header h1.logo {
            text-indent: -500em;
        }
        
        body.blog div#wrapper > header h1.logo {
            background-image: url('/media/img/blog_header.png');
            height: 444px;
        }
        
        body.contact div#wrapper > header h1.logo {
            background-image: url('/media/img/contact_header.png');
            height: 478px;
        }

            div#wrapper > header h1.logo a {
                display: block; 
            }
            
            body.blog div#wrapper > header h1.logo a {
                height: 444px;
            }
            
            body.contact div#wrapper > header h1.logo a {
                height: 461px;
            }

        ul#nav-menu {
            padding: 10px 0 0 20px;
        }

            ul#nav-menu li.nav-item, 
            ul#nav-menu li.nav-item-current {
                float: left;
                margin-left: 25px;
                background-color: transparent;
                background-repeat: no-repeat;
                background-position: 0 0;
                background-attachment: scroll;
            }

            ul#nav-menu li.nav-item-current {
                background-position: 0 -17px !important;
            }

            ul#nav-menu li a {
                height: 17px;
                overflow: hidden;
                text-indent: -500em;
                display: block;
                position: relative;
                z-index: 10;
            }

            ul#nav-menu li.nav-item-home a {
                background-image: url('/media/img/nav_item_home.png');
                width: 36px;
            }

            ul#nav-menu li.nav-item-about a {
                background-image: url('/media/img/nav_item_about.png');
                width: 38px;
            }

            ul#nav-menu li.nav-item-contact a {
                background-image: url('/media/img/nav_item_contact.png');
                width: 48px;
            }

            ul#nav-menu li.nav-item-blogroll a {
                background-image: url('/media/img/nav_item_blogroll.png');
                width: 49px;
            }

            ul#nav-menu li.nav-item-archives a {
                background-image: url('/media/img/nav_item_archives.png');
                width: 55px;
            }

            ul#nav-menu li.nav-item-tuts a {
                background-image: url('/media/img/nav_item_tuts.png');
                width: 26px;
            }

/* ACCESSIBILITY */

div#accessibility {
    padding: 0.2em;
    background-color: #0EA6C9;
}

        div#accessibility ul li {
            float: right;
            margin-left: 0.5em;
            padding-left: 0.5em;
        }
    
            div#accessibility ul li a {
                color: #000000;
                font-size: 0.65em;
            }
    
        div#accessibility ul li:not(:last-child) {
            border-left: 1px solid #414141;
        }

/* CONTENT */

section#content {
    float: left;
}

body.blog section#content {
    width: 740px;
    padding: 30px 0 0 0;
}

body.contact section#content {
    width: 600px;
}
    
    section#navigation-inner {
        width: 100%;
        margin: 10px 0 20px;
    }
    
        section#navigation-inner ul,
        section#navigation-inner em {
            float: left;
        }
    
        section#navigation-inner ul li {
            margin-left: 10px;
            float: left;
            padding-left: 29px;
            background: transparent url('/media/img/navigation_inner_arrow.png') no-repeat left center;
        }
        
        section#navigation-inner ul li,
        section#navigation-inner ul li a {
            font-size: 1em;
        }

    section#content > article {
        margin-bottom: 50px;
    }
    
    section#content ol {
        padding: 10px;
        margin-left: 30px;
    }
    
        section#content ol li:not(:last-child) {
            margin-bottom: 10px;
        }

        section#content > article > header {
            width: 120px;
            text-align: right;
            padding-right: 20px;
            float: left;
            position: relative;
            margin-bottom: 10px;
        }
    
            section#content > article > header time,
            section#content > article > header ul li a,
            div.entry-author a {
                background-color: #D5E9DC;
                color: #34312E;
                padding: 5px;
                font-size: 0.9em;
                font-weight: bold;
                margin-bottom: 6px;
                display: inline-block;
            }
        
            section#content > article > header ul li a:hover,
            div.entry-author a:hover {
                background-color: #329A57;
                color: #34312E;
            }
        
            div.share {
                background-color: #319755;
                padding: 4px 8px;
                display: inline-block;
                float: right;
            }
            
            div.share h1,
            div.share {
                width: 80px;
            }
            
                div.share h1 {
                    text-align: center;
                    font-size: 0.9em;
                    font-weight: bold;
                    color: #FFFFFF;
                    margin: 6px 0;
                    background: transparent url('/media/img/show.png') no-repeat left top;
                    height: 16px;
                    cursor: pointer;
                    vertical-align: bottom;
                    padding-left: 2px;
                }
                
                div.share-items {
                    padding: 4px;
                }
                
                span.count,
                span.comment-count {
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-color: transparent;
                    display: block;
                    text-align: center;
                    position: absolute;
                    z-index: 10;
                    float: right;
                    top: -7px;
                    right: -7px;
                }
                
                span.count {
                    background-image: url('/media/img/count.png');
                    font-size: 0.55em;
                    width: 14px;
                    padding-top: 5px;
                    height: 14px;
                    color: #000000;
                }

                div.share a {
                    text-indent: -500em;
                    display: block;
                }

                div.share a,
                div.share-left,
                div.share-right {
                    width: 31px;
                    height: 31px;
                }
                
                div.share img {
                    position: relative;
                }

                div.share-left {
                    margin-right: 10px;
                }

                div.share-right,
                div.share-left {
                    float: right;
                    position: relative;
                }
                
                div.count-comment {
                    background-position: top center;
                    float: right;
                    margin-top: 6px;
                }
                    
                div.count-comment,
                div.count-comment:hover {
                    background-image: url('/media/img/count_comment.png');
                    background-color: transparent;
                    background-repeat: no-repeat;
                }
                
                div.count-comment:hover {
                    background-position: bottom center;
                }
                
                    div.count-comment,
                    div.count-comment a {
                        width: 27px;
                        height: 32px;
                    }
                
                    div.count-comment a {
                        color: #34312E;
                        font-weight: bold;
                        font-size: 1em;
                        text-align: center;
                        display: block;
                        top: 50%;
                        padding-top: 0.4em;
                    }

        div.entry-body {
            padding-right: 20px;
            margin-bottom: 50px;
        }
            div.entry-body h1 {
                font-size: 1.4em;
                margin-bottom: 5px;
            }
            
            div.blockquote {
                background: transparent url('/media/img/quote_left.png') no-repeat top left;
                padding-top: 19px;
                padding-left: 19px;
                min-height: 20px;
                display: block;
            }
            
            div.blockquote-author {
                margin-left: 25px;
                font-size: 0.9em;
            }
            
            div.blockquote-author,
            div.blockquote > blockquote {
                color: #34312E;
            }
            
            div.blockquote > blockquote {
                display: inline-block;
                padding-bottom: 19px;
                font-size: 0.8em;
                padding-right: 19px;
                background: transparent url('/media/img/quote_right.png') no-repeat bottom right;
            }
            
            div.entry-body h1 a,
            div.entry-body h1,
            footer h2 {
                color: #41281B;
                font-weight: bold;
            }
            
            footer h2 {
                font-size: 1.1em;
            }
        
            div.entry-body p {
                text-align: justify;
                padding: 5px 5px 5px 0;
                line-height: 16px;
                font-size: 0.75em;
                color: #6B605A;
            }
            
            div.entry-body p a,
            section#navigation-inner ul li a,
            .comment header a,
            section#content ol li a {
                color: #222;
                text-decoration: none;
                padding: 1px 2px;
                border-bottom: 1px solid #ddd;
                background: #E2F7E2;
            }
            
            div.entry-body p a {
                font-size: 1.1em;
            }
            
            div.entry-body p a:active,
            .comment header a:active,
            section#navigation-inner ul li a:active,
            section#content ol li a:active {
                color: #8b1109;
            }
            
            div.entry-body p:hover a {
                border-bottom: 1px solid #EEEEEE;
                color: #444444;
            }
            
            div.entry-body p a:hover,
            section#navigation-inner ul li a:hover,
            .comment header a:hover,
            section#content ol li a:hover {
                color: #222;
                background: transparent;
                border-bottom: 1px solid #555;
            }
            
            div.entry-body p a:visited,
            section#navigation-inner ul li a:visited,
            .comment header a:visited,
            section#content ol li a:visited {
                color: #222;
                background: rgba(226, 247, 226, .4);
            }
            
            div.entry-body p blockquote {
                text-indent: -0.8em;
            }
            
            div.entry-body p.teaser {
                text-indent: 1em;
                font-size: 0.9em;
                line-height: 20px;
                font-style: italic;
            }

        div.entry-meta {
            display: inline-block;
            margin: 10px 0;
        }
        
            div.entry-meta ul li {
                display: inline-block;
                float: left;
                font-size: 73%;
                margin-right: -5px;
            }

                div.entry-meta ul li a {
                    background: transparent url('/media/img/tags.png') no-repeat 0 0;
                    padding: 4px 0 6px 8px;
                }
                
                    div.entry-meta ul li a span {
                        color: #404040;
                        background-color: #e1e1e1;
                        padding: 4px 13px 2px 7px;
                    }
                    
                    div.entry-meta ul li a:hover span {
                        background-color: #6C6C6C;
                        color: #FFFFFF;
                    }
                
                div.entry-meta ul li a:hover {
                    background-position: 0 -30px;
                }
        
        div#mptt-comments-tree {
            padding: 1em 15px 1em 0;
        }
        
            /* comments at the root of the tree */
        
            div#mptt-comments-tree > .comment {
                padding-left: 100px;
                margin-bottom: 50px;
            }
                
                div#mptt-comments-tree > .comment > .comment-whole > .comment-body {
                    background: #F0F0F0 url('/media/img/comment_parent_bg.png') no-repeat left top;
                }
                
                div#mptt-comments-tree > .comment > .comment-whole header {
                    position: absolute;
                    left: -100px;
                }
                
                div#mptt-comments-tree > .comment > .comment-whole .comment-body-content {
                    padding-left: 38px !important;
                }
        
            .comment {
                padding-top: 1.2em;
                padding-left: 0.5em;
            }
            
            .comment,
            .comment p {
                color: #34312E;
                font-family: "Trebuchet MS",Verdana,"Lucida Grande",Tahoma,Helvetica,Sans-Serif;
            }
            
            .comment h3 {
                color: #41281B;
                font-weight: bold;
                margin-bottom: 10px;
            }
            
            .comment p {
                font-size: 0.7em;
                line-height: 18px;
                font-style: normal;
                font-weight: normal;
            }
            
            .comment-author,
            .comment-meta time,
            .comment-replies {
                font-size: 0.7em;
            }
            
                .comment-body-content {
                    padding: 20px 20px 60px;
                    min-height: 60px;
                }
            
                .comment-reply {
                    position: absolute;
                }
                
                div#mptt-comments-tree > .comment > .comment-whole .comment-reply {
                    left: 10px;
                }
                
                .comment-reply {
                    bottom: -2px;
                }
                
                .comment-replies {
                    top: -1px;
                    right: -1px;
                    position: absolute;
                    width: 31px;
                    height: 31px;
                }
                
                .comment-no-hidden-replies {
                    opacity: 0.5;
                }
        
                .comment-title {
                    font-size: 0.9em;
                    font-weight: bold;
                    margin-bottom: 2px;
                    background: #eeeeee;
                    padding: 3px;
                }
            
                .comment-whole {
                    position: relative;
                }
                
                .comment-form-wrapper {
                    padding-top: 1.5em;
                }
                
                /* comment which belongs to another */
        
                .comment > .comment,
                .comment-form-wrapper {
                    padding-left: 1.5em;
                    margin-left: 18px;
                    border-left: solid 1px #ebebeb;
                    background: transparent url('/media/img/comment_comment_bg.png') no-repeat 0 50px;
                }
                    
                    span.comment-count {
                        background-image: url('/media/img/comment_count.png');
                        color: #FFFFFF;
                        font-size: 1em;
                        padding-top: 6px;
                        width: 16px;
                        height: 16px;
                    }
                
                    .comment > .comment > .comment,
                    .comment > .comment > .comment-form-wrapper {
                        margin-left: 0 !important;
                    }
                
                    .comment > .comment > .comment-whole header {
                        position: absolute;
                        z-index: 20;
                        right: 10px;
                        bottom: 10px;
                    }
                    
                        .comment > .comment > .comment-whole header > * {
                            float: right;
                        }
                    
                        .comment > .comment > .comment-whole .comment-meta {
                            padding-top: 8px;
                            margin-right: 5px;
                            text-align: right;
                        }
                
                        .comment > .comment > .comment-whole header img {
                            width: 40px;
                            height: 40px;
                        }
                
                    .comment > .comment .comment-body {
                        background-color: #E9F4EC;
                        border: 1px solid #ebebeb;
                        position: relative;
                    }
                    
                    .comment > .comment > .comment-whole .comment-reply {
                        left: 0;
                    }
        
        div.new-comment-form-wrapper {
            margin: 15px 0;
        }
        
/* SIDEBAR */

nav#sidebar {
    width: 234px;
    float: right;
    margin-right: 27px;
    top: -70px;
    position: relative;
    background: transparent url('/media/img/column_head.png') no-repeat center top;
    min-height: 400px;
}

section#syndication {
    background: transparent url('/media/img/feed.png') no-repeat;
    top: -22px;
    left: 7px;
    position: relative;
}

    section#syndication,
    section#syndication a {
        width: 155px;
        height: 100px;
    }

    section#syndication a {
        text-indent: -500em;
        display: block;
    }

section#sidebar-content {
    margin-top: 20px;
    background-color: #34312E;
}

ul li.title {
    margin: 10px 0;
    padding: 0.5em 0;
}

    ul li.title h2,
    ul li.title ul li {
        font-weight: bold;
    }

    ul li.title h2,
    ul.li.title h2.active {
        background-image: url('/media/img/arrow.png');
        background-repeat: no-repeat;
        background-color: transparent;
    }

    ul li.title h2 {
        font-size: 0.9em;
        color: #FFFFFF;
        background-position: right top;
        height: 16px;
        cursor: pointer;
        width: 205px;
        padding-left: 14px;
    }
    
    ul li.title h2.active {
        background-position: right bottom;
    }

    ul li.title ul {
        padding: 0.5em 0;
    }

    ul li.title ul li {
        padding: 0.5em 0 0.5em 2em;
        margin-bottom: 0.5em;
        width: 16em;
        font-size: 0.81em;
        cursor: pointer;
    }
    
    ul li.title ul li a {
        font-weight: bold;
        color: #319855;
    }

    ul li.title ul li:hover {
        background-color: #2B2927;
    }

section#search {
    background: transparent url('/media/img/search_container.png') no-repeat center center;
    width: 177px;
    height: 24px;
    margin: 0 0 30px 28px;
}

div#search-input {
    float: left;
}

    div#search-input input[type=text] {
        border-width: 0;
        height: 18px;
        font-size: 0.8em;
        padding-top: 5px;
    }

div#search-button {
    float: left;
    height: 17px;
    width: 17px;
    padding: 2px 3px 0 0;
}

    div#search-button button[type=submit] {
        border-width: 0;
        background-color: transparent;
        cursor: pointer;
    }

div#search-mentions p {
    margin-top: 5px;
    font-size: 0.65em;
    color: #000000;
}

section#twitter {
    padding: 50px 0;
    background: transparent url('/media/img/twitter.png') no-repeat center top;
}

    section#twitter ul li {
        margin-bottom: 20px;
    }

div.twitter-container {
    width: 177px;
    height: 109px;
    margin: 0 auto;
    position: relative;
}

    div.twitter-container h2 {
        position: absolute;
        width: 100px;
        bottom: 0;
    }

        div.twitter-container h2 a {
            color: #FFFFFF;
        }

    div.twitter-container p,
    div.twitter-container h2 {
        font-size: 0.65em;
    }

    div.twitter-container a {
        text-decoration: none;
    }

    div.twitter-container p {
        line-height: 1.35em;
        padding: 5px;
    }

        div.twitter-container p a {
            color: #000000;
        }

    div.twitter-container-green-0 {
        background-image: url('/media/img/twitter_container_green_0.png');
    }

    div.twitter-container-green-1 {
        background-image: url('/media/img/twitter_container_green_1.png');
    }

    div.twitter-container-green-2 {
        background-image: url('/media/img/twitter_container_green_2.png');
    }

    div.twitter-container-green-3 {
        background-image: url('/media/img/twitter_container_green_3.png');
    }
    
    span.twitter-container-loader {
        background: url('/media/img/twitter_container_loader.gif') no-repeat center center;
        display: block;
        width: 167px;
        height: 70px;
    }

/* FOOTER */

footer#footer {
    background: transparent url('/media/img/footer_bg.png') no-repeat center top;
    padding-top: 47px;
}

    footer#footer > ul {
        background: #34322F url('/media/img/footer_worm.png') no-repeat right bottom;
        padding: 20px;
    }

        footer#footer > ul > li:not(.clear) {
            float: left;
            margin-right: 30px;
        }
        
            footer#footer > ul > li:not(.clear) h1 {
                color: #19161A;
                text-align: center;
                font-size: 1.1em;
                margin-bottom: 8px;
                font-weight: bold;
            }
            
            footer#footer > ul > li:not(.clear) div {
                max-width: 256px;
                background: transparent url('/media/img/footer_container_arrow.png') no-repeat center top;
                padding-top: 12px;
            }
            
                footer#footer > ul > li:not(.clear) div ul {
                    background-color: #19161A;
                    padding: 10px;
                    -moz-border-radius: 10px;
                    -webkit-border-radius: 10px;
                    border-radius: 10px;
                }
                
                    footer#footer > ul > li:not(.clear) div ul li:not(:last-child) {
                        margin-bottom: 12px;
                    }
                    
                        footer#footer > ul > li:not(.clear) div ul li a,
                        footer#footer > ul > li:not(.clear) div ul li {
                            color: #4B4743;
                        }
                        
                        footer#footer > ul > li:not(.clear) div ul li a {
                            font-size: 0.8em;
                        }
                        
                        footer#footer > ul > li:not(.clear) div ul li a:hover {
                            border-bottom: 1px dashed #4B4743;
                        }
    
    div#copyright {
        width: 461px;
        height: 49px;
        margin: 0 auto;
        background: transparent url('/media/img/copyright.png') no-repeat center center;
    }

/* ---- FORM STYLESHEETS ---- */

.form input[type=text],
.form input[type=submit],
.form textarea {
    border: 3px solid #F0F0F0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 3px 0;
}

.form input[type=text],
.form textarea {
    width: 60%;
    padding: 6px 50px 6px 6px;
}

.form .errors label {
    color: #A70C27 !important;
}

ul.errorlist li {
    color: #A70C27;
    font-size: 0.7em;
    padding-left: 15px;
} 

.form input[type=submit] {
    width: 30%;
    display: block;
    position: relative;
    color: #66685B;
    background-color: #F0F0F0;
    padding: 7px;
}

.form ul li {
    margin-bottom: 10px;
}

.form ul li.required input[type=text],
.form ul li.required textarea {
    background: transparent url('/media/img/field_required.png') no-repeat right center;
}

.form ul li.required textarea {
    background-position: right top !important;
}

.form label {
    display: block;
    color: #66685B;
    font-size: 0.8em;
    font-weight: bold;
}

/* ----  GENERIC CLASSES ---- **/

.clear {
    clear: both;
}

.height-10 {
    height: 10px;
}

/* syntax highlighting */

.str { color: #080; }
.kwd { color: #008; }
.com, .traceback { color: #800; }
.typ { color: #606; }
.lit { color: #066; }
.pun { color: #660; }
.pln { color: #000; }
.tag { color: #008; }
.atn { color: #606; }
.atv { color: #080; }
.dec { color: #606; }

pre {
    border-left: 1px solid #DDDDDD;
    padding-left: 2.154em;
    overflow: auto;
    margin: 10px 0;
}

pre, kbd, samp, code, var, .b, pre span {
    -x-system-font: none;
    font-family: Consolas,'Andale Mono',Monaco,'Liberation Mono','Bitstream Vera Sans Mono','DejaVu Sans Mono',monospace;
    font-size: 12px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.5;
    word-spacing: 0;
}

a.permalink {
    color: #222222;
    font-size: 0.7em;
    padding: 0 4px 0 4px;
    text-decoration: none;
    visibility: hidden;
}

a.permalink:hover {
    background-color: #E2F7E2;
}

*:hover > a.permalink {
    visibility: visible;
}