{% extends "base.html" %}
{% load i18n %}

{% block menu %}about{% endblock %}

{% block navigation_inner %}
    {{ block.super }}
    <li><span class="icon"></span>{% trans "About" %}</li>
{% endblock %}

{% block body_class %}about{% endblock %}

{% block title %}{% trans "About" %} | {{ block.super }}{% endblock %}

{% block content %}
<div class="strip">
    <p><img src="{{ MEDIA_URL }}img/about.png" /></p>
    <div class="clear"></div>
</div>

<div class="entry-body">
    <h2>{% trans "Authors" %}</h2>
    <div id="business-card">
        <ul>
            <li class="business-card-thoas">
                <a href="http://thoas.pluggedinlife.com">thoas</a>
            </li>
            <li class="business-card-norelijn">
                <a href="http://norelijn.pluggedinlife.com">norelijn</a>
            </li>
        </ul>
        <div class="clear"></div>
    </div>

    <h2>{% trans "More about our site" %}</h2>
    <p>
        {% blocktrans %}
        A big thanks to <a href="http://montylounge.com/" title="monty lounge industries">Kevin Fricovsky</a>
        for his Open-Source blogware powered by Django: <a href="http://github.com/montylounge/django-mingus" title="django-mingus">django-mingus</a>.
        <br />
        Thanks for the support, for being that receptive and willing to share.
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans %}
        For those who appreciate our website menu design,
        all the credit goes to <a href="http://www.dandypark.se/" title="Dandypark">Dandypark</a> for the idea<br />
        and <a href="http://deaxon.com" title="Deaxon - Software design">Deaxon</a> for its <a href="http://playground.deaxon.com/" title="Deaxon's playground">playground</a>
        about HTML5/CSS3, thanks a lot!
        {% endblocktrans %}
    </p>
    <p>{% blocktrans %}Thanks again to <a href="http://jeffcroft.com/" title="Jeff Croft">Jeff Croft</a> for the fancy tags pyramid you can see in our footer.{% endblocktrans %}</p>
</div>
{% endblock %}
