{% load flatblock_tags mptt_comments_tags profiles cache navbar generic_content blog compress analytics feeds i18n archive %}
<!DOCTYPE html>
<html lang="fr-fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{{ BLOG_SETTINGS.site_name }}{% endblock %}</title>

    {% block meta %}
    <meta name="keywords" content="{{ BLOG_SETTINGS.meta_keywords }}">
    <meta name="description" content="{{ BLOG_SETTINGS.meta_description|safe }}">
    <meta name="author" content="{{ BLOG_SETTINGS.author_name }}" />
    {% endblock %}

     <meta name="copyright" content="{{ BLOG_SETTINGS.copyright }}" />
    <link rel="shortcut icon" href="{{ MEDIA_URL }}favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/screen.css?ver=0.1" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/print.css?ver=0.1" type="text/css" media="print" />

  {% block rss %}
  <link rel="alternate" type="application/rss+xml" title="{{ BLOG_SETTINGS.site_name }} main rss feed" href="{{ BLOG_SETTINGS.rss_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ BLOG_SETTINGS.site_name }} all entries feed" href="/feeds/all/">
  <link rel="alternate" type="application/rss+xml" title="{{ BLOG_SETTINGS.site_name }} all posts feed" href="/feeds/latest/">
  {% endblock %}

    {% block extra_head %}{% endblock %}
</head>
<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}blog{% endblock %}" onload="prettyPrint()">
    <div id="accessibility">
        <ul>
            <li><a href="#footer" title="{% trans "Go to footer" %}">{% trans "Go to footer" %}</a></li>
            <li><a href="#content" title="{% trans "Go to content" %}">{% trans "Go to content" %}</a></li>
            <li><a href="#nav-menu" title="{% trans "Go to navigation" %}">{% trans "Go to navigation" %}</a></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div id="whole">
        <div id="wrapper">
            <header role="banner">
                <nav>
                    <ul id="nav-menu" class="{% block menu %}home{% endblock %}">
                        <li class="nav-item nav-item-home">
                            <a href="{% url home_index %}" title="{% trans "Home" %}">{% trans "Home" %}</a>
                        </li>
                        <li class="nav-item nav-item-blogroll">
                            <a href="{% url blogroll %}" title="{% trans "Blogroll" %}">{% trans "Blogroll" %}</a>
                        </li>
                        <li class="nav-item nav-item-about">
                            <a href="{% url about %}" title="{% trans "About" %}">{% trans "About" %}</a>
                        </li>
                        <li class="nav-item nav-item-contact">
                            <a href="{% url contact_form %}" title="{% trans "Contact" %}">{% trans "Contact" %}</a>
                        </li>
                        <li class="nav-item nav-item-archives">
                            <a href="{% url archives %}" title="{% trans "Archives" %}">{% trans "Archives" %}</a>
                        </li>
                    </ul>
                </nav>
                <hgroup>
                    <h1 class="logo">
                        <a href="/" title="{{ BLOG_SETTINGS.site_name }}">{{ BLOG_SETTINGS.site_name }}</a>
                    </h1>
                </hgroup>
            </header>
            <div id="center">
                <section id="content">
                    <section id="navigation-inner">
                        <em>{% trans "You are here:" %}</em>
                        <ul>
                        {% block navigation_inner %}
                            <li><a href="{% url home_index %}" title="{% trans "Homepage" %}"><span></span>{% trans "Home" %}</a></li>
                        {% endblock %}
                        </ul>
                        <div class="clear"></div>
                    </section>
                    {% block content %}
                    
                    {% endblock %}
                </section>
                <nav id="sidebar">
                    <section role="syndication" id="syndication">
                        <a href="{{ BLOG_SETTINGS.rss_url }}" title="Syndication">{% trans "Syndication" %}</a>
                    </section>
                    <section id="sidebar-content">
                        <section role="search" id="search">
                            <form action="http://www.google.com/cse" id="cse-search-box">
                                <div id="search-engine">
                                    <div id="search-input">
                                        <input type="hidden" name="cx" value="006789194927321815761:kj7f0ea1nsy" />
                                        <input type="hidden" name="ie" value="UTF-8" />
                                        <input type="text" name="q" id="search" />
                                    </div>
                                    <div id="search-button">
                                        <button type="submit" name="sa"></button>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </form>
                            <div id="search-mentions">
                                <p>{% trans "Search on this website via Google" %}</p>
                            </div>
                        </section>
                        <ul>
                            <li class="title">
                                <h2>{% trans "Categories" %}</h2>
                                <ul>
                                {% cache 3600 "base.category_list" %}
                                  {% get_blog_categories as category_list %}
                                  {% for category in category_list %}
                                  <li><a href="{% url basic.blog.views.category_detail category.slug %}" title="{{ category.title }}">{{ category.title }}</a></li>
                                  {% endfor %}
                                </ul>
                                {% endcache %}
                            </li>
                            <li class="title">
                                <h2>{% trans "Archives"%}</h2>
                                {% cache 7200 "base.archive" %}
                                {% get_post_archive as dates %}
                                <ul>
                                {% for date in dates %}
                                <li><a href="{% url blog_archive_month date|date:"Y", date|date:"m" %}" title="{{ date|date:"F Y" }}">{{ date|date:"F Y" }}</a></li>
                                {% endfor %}
                                </ul>
                                {% endcache %}
                            </li>
                            <li class="title">
                                <h2 class="active">{% trans "Popular posts"%}</h2>
                                {% cache 7200 "base.popular_posts" %}
                                {% get_popular_posts 10 as popular_post_list %}
                                <ul>
                                {% for popular_post in popular_post_list %}
                                <li><a href="{{ popular_post.get_absolute_url }}" title="{{ popular_post.title }}">{{ popular_post.title }}</a></li>
                                {% endfor %}
                                </ul>
                                {% endcache %}
                            </li>
                        </ul>
                        {% cache 3600 "base.profile_list" %}
                        {% get_profiles as profile_list %}
                        {% if profile_list %}
                        <section id="twitter">
                            <ul>
                                {% with profile_list|first as profile %}
                                {% for service in profile.service_set.all %}
                                <li>
                                    <div id="{{ service.username }}" class="twitter-container twitter-container-account twitter-container-green-{{ forloop.counter0 }}">
                                        <h2>
                                            <a href="http://twitter.com/{{ service.username }}" title="@{{ service.username }}">
                                                @{{ service.username }}
                                            </a>
                                        </h2>
                                        <p>
                                            <span class="twitter-container-loader">
                                            </span>
                                        </p>
                                    </div>
                                </li>
                                {% endfor %}
                                {% endwith %}
                                <li>
                                    <div id="apluggedinlife-hashtag" class="twitter-container twitter-container-hashtag twitter-container-green-3">
                                        <h2>
                                            <a href="http://search.twitter.com/search?q=apluggedinlife" title="#apluggedinlife">
                                                #apluggedinlife
                                            </a>
                                        </h2>
                                        <p>
                                            <span class="twitter-container-loader">
                                            </span>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </section>
                        {% endif %}
                        {% endcache %}
                    </section>
                </nav>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <footer id="footer" role="contentinfo">
        <div id="footer-worm-container">
            <ul>
                <li>
                    <h1>{% trans "Last entries" %}</h1>
                    {% cache 3600 "base.post_list" %}
                    {% get_latest_posts 10 as post_list %}
                    {% if post_list %}
                    <div>
                        <ul class="link-list">
                            {% for post in post_list %}
                            <li><a href="{{ post.get_absolute_url }}" title="{{ post.title }}">{{ post.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    {% endcache %}
                </li>
                <li>
                    <h1>{% trans "Last comments" %}</h1>
                    {% cache 3600 "base.comments_list" %}
                    {% get_latest_comments 10 as comment_list %}
                    {% if comment_list %}
                    <div>
                        <ul class="link-list">
                            {% for comment in comment_list %}
                            <li>
                                &laquo;
                                <a href="{% url comment_detail comment.pk %}#comment-{{ comment.pk }}" title="{{ comment.comment|truncatewords:10 }}">
                                    {{ comment.comment|truncatewords:10 }}
                                </a>&raquo;
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    {% endcache %}
                </li>
                <li>
                    <h1>{% trans "Tags" %}</h1>
                    <div id="footer-tag-list">
                        <ul class="footer chart-list">
                            <li>
                              <a href="http://apluggedinlife.com/tags/django">django</a>
                              <span class="tag-count">2266</span>
                              <span class="index" style="width: 100%;">(100%)</span>
                            </li>
                            <li>
                              <a href="http://apluggedinlife.com/tags/webdesign">webdesign</a>
                              <span class="tag-count">869</span>
                              <span class="index" style="width: 38%;">(38%)</span>
                            </li>
                            <li>
                              <a href="http://apluggedinlife.com/tags/design">design</a>
                              <span class="tag-count">621</span>
                              <span class="index" style="width: 27%;">(27%)</span>
                            </li>
                            <li>
                              <a href="http://apluggedinlife.com/tags/party">party</a>
                              <span class="tag-count">537</span>

                              <span class="index" style="width: 24%;">(24%)</span>
                            </li>
                            <li>
                              <a href="http://apluggedinlife.com/tags/conference">conference</a>
                              <span class="tag-count">512</span>
                              <span class="index" style="width: 23%;">(23%)</span>
                            </li>

                            <li>
                              <a href="http://apluggedinlife.com/tags/webprogramming">webprogramming</a>
                              <span class="tag-count">477</span>
                              <span class="index" style="width: 21%;">(21%)</span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="clear"></li>
            </ul>
            <div id="copyright"></div>
        </div>
    </footer>

    <script type="text/javascript" src="{{ MEDIA_URL }}js/prettify.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.uncompressed.js?ver=1.3.2"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.plugins.js?ver=1.3.2"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/main.js?ver=0.1"></script>
    
    {% block extra_javascript %}{% endblock %}
    
    {% cache 7200 "base.analytics" %}
    {% analytics %}
    {% endcache %}
</body>
</html>
