{% extends "base.html" %}

{% load i18n %}

{% block body_class %}{{ block.super }} post_list{% endblock %}

{% block title %}{% trans "Home" %} | {{ block.super }}{% endblock %}

{% block content_title %}{% endblock %}

{% block content %}
    {% for object in object_list %}
    {% ifequal object.content_type.name "post" %}
        {% with object.content_object as post %}
          {% include "proxy/includes/post_item.html" %}
        {% endwith %}
    {% endifequal %}
    {% ifequal object.content_type.name "quote" %}
      {% include "proxy/includes/quote_item.html" %}
    {% endifequal %}
    {% ifequal object.content_type.name "bookmark" %}
      {% include "proxy/includes/bookmark_item.html" %}
    {% endifequal %}
    {% endfor %}

  {% if is_paginated %}
    {% include "blog/includes/pagination.html" %}
  {% endif %}
{% endblock %}