{% extends "blog/base_blog.html" %}

{% load cache i18n %}

{% block title %}{% trans "Posts for tag" %} {{ tag.name }} | {{ block.super }}{% endblock %}

{% block body_class %}{{ block.super }} tag{% endblock %}

{% block body_id %}tag-{{ category.id }}{% endblock %}

{% block navigation_inner %}
    {{ block.super }}
    <li><span class="icon"></span>{% trans "Posts for tag" %} <strong>{{ tag.name }}</strong></li>
{% endblock %}

{% block content %}

{% if object_list %}
    {% cache 3600 "blog.tag_detail.object_list" tag.name %}
        {% for object in object_list %}
            {% ifequal object.content_type.name "post" %}
                {% with object.content_object as post %}
                  {% include "proxy/includes/post_item.html" %}
                {% endwith %}
            {% endifequal %}
            {% ifequal object.content_type.name "quote" %}
                  {% include "proxy/includes/quote_item.html" %}
            {% endifequal %}
            {% ifequal object.content_type.name "bookmark" %}
                  {% include "proxy/includes/bookmark_item.html" %}
            {% endifequal %}
            {% endfor %}

          {% if is_paginated %}
            {% include "blog/includes/pagination.html" %}
          {% endif %}
    {% endcache %}
{% endif %}
{% endblock %}
