{% extends "blog/base_archive.html" %}
{% load i18n archive_tags archive %}

{% block navigation_inner %}
    {{ block.super }}
    <li><span>{% trans "Archives" %}</span></li>
{% endblock %}

{% block title %}{% trans "Archives" %} | {{ block.super }}{% endblock %}

{% block content %}
    {% get_post_archive as dates %}
    {% for date in dates %}
    <article class="archive" role="archive">
        <h2>{{ date|date:"F Y" }}</h2>
        {% get_posts_for_archive date %}
    </article>
    {% endfor %}
{% endblock %}