{% extends "base.html" %}
{% load i18n %}

{% block body_class %}blogroll{% endblock %}

{% block extra_javascript %}
    <script src="{{ MEDIA_URL }}js/raphael.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block extra_head %}
    <style type="text/css" media="screen">
        #holder {
            background: #fff;
            border: solid 1px #999;
            cursor: move;
            overflow: hidden;
            width: 690px;
            height: 540px;
            margin: 20px 0;
        }
    </style>
{% endblock %}

{% block menu %}
    blogroll
{% endblock %}

{% block title %}{% trans "Blogroll" %} | {{ block.super }}{% endblock %}

{% block navigation_inner %}
    {{ block.super }}
    <li><span class="icon"></span>{% trans "Blogroll" %}</li>
{% endblock %}

{% block content %}
<div class="entry-body">
    <h1>{% trans "The map" %}</h1>
    <div id="holder">
        <embed src="{{ MEDIA_URL }}Blogroll.svg" width="690" height="540"></embed>
    </div>
    <h1>{% trans "Links and OPML" %}</h1>
    {% if tags %}
        <div id="blogroll" class="block-20">
            {% for group in groups %}
                {% if forloop.counter|divisibleby:4 %}
                    <div class="clear"></div>
                {% endif %}
                 <div class="column column-50">
                     <ul>
                        {% for tag in group %}
                            <li>
                            <h3>{{ tag.title }}</h3>
                            {% if tag.feeds %}
                                <ul>
                                    {% for entry in tag.feeds %}
                                        <li><a href="{{ entry.url }}" title="{{ entry.title }}" class="link" rel="external">{{ entry.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            </li>
                        {% endfor %}
                     </ul>
                </div>
            {% endfor %}
        </div>
        <div class="block-20 clear">
            <a href="{% url download path="OPML_APIL.xml" %}" class="icon center download">Blogroll OPML</a>
        </div>
    {% endif %}
</div>
{% endblock %}
