{% extends "base.html" %}
{% load i18n %}

{% block body_class %}blogroll{% endblock %}

{% block menu %}
    blogroll
{% endblock %}

{% block title %}{% trans "Blogroll" %} | {{ block.super }}{% endblock %}

{% block navigation_inner %}
    {{ block.super }}
    <li><span></span>{% trans "Blogroll" %}</li>
{% endblock %}

{% block content %}
<div class="entry-body">
    <h1>{% trans "The map" %}</h1>
    <h1>{% trans "Links and OPML" %}</h1>
    {% if tags %}
        <ul class="blogroll">
            {% for tag in tags %}
                 <li>
                    <h3>{{ tag.title }}</h3>
                    <div>
                        {% if tag.feeds %}
                            <ul>
                                {% for entry in tag.feeds %}
                                    <li><a href="{{ entry.url }}" title="{{ entry.title }}">{{ entry.title }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}