{% extends "base.html" %}
{% load i18n %}

{% block body_class %}blogroll{% endblock %}

{% block menu %}
    blogroll
{% endblock %}

{% block title %}{% trans "Blogroll" %} | {{ block.super }}{% endblock %}

{% block navigation_inner %}
    {{ block.super }}
    <li><span></span>{% trans "Blogroll" %}</li>
{% endblock %}

{% block content %}
<div class="entry-body">
    <h1>{% trans "The map" %}</h1>
    <h1>{% trans "Links and OPML" %}</h1>
    {% if tags %}
        <div id="blogroll" class="block-20">
            {% for group in groups %}
                {% if forloop.counter|divisibleby:4 %}
                    <div class="clear"></div>
                {% endif %}
                 <div class="column column-50">
                     <ul>
                        {% for tag in group %}
                            <li>
                            <h3>{{ tag.title }}</h3>
                            {% if tag.feeds %}
                                <ul>
                                    {% for entry in tag.feeds %}
                                        <li><a href="{{ entry.url }}" title="{{ entry.title }}" class="link" rel="external">{{ entry.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            </li>
                        {% endfor %}
                     </ul>
                </div>
            {% endfor %}
        </div>
        <div class="block-20 clear">
            <a href="{% url download path="OPML_APIL.xml" %}" class="icon center download">Blogroll OPML</a>
        </div>
    {% endif %}
</div>
{% endblock %}