{% extends "blog/base_archive.html" %}
{% load cache i18n %}

{% block title %}{% trans "Archives for" %} {{ month|date:"F Y"}} | {{ block.super }}{% endblock %}

{% block body_id %}archive-{{ category.id }}{% endblock %}

{% block body_class %}archives{% endblock %}

{% block navigation_inner %}
    {{ block.super }}
    <li><span class="icon"></span><a href="{% url archives %}" title="{% trans "Archives" %}"><span></span>{% trans "Archives" %}</a></li>
    <li><span class="icon"></span>{{ month|date:"F Y" }}</li>
{% endblock %}

{% block content %}

{% for post in object_list %}
    {% include "proxy/includes/post_item.html" %}
{% endfor %}

{% endblock %}
