{% extends "blog/base_blog.html" %}
{% load blog tagging_tags inlines cache pygment_tags oembed_tags mptt_comments_tags i18n %}

{% block title %}{{ object.title }} - {{ block.super }}{% endblock %}

{% block meta %}
    <meta name="keywords" content="{{ object.get_meta_keywords }}">
    <meta name="description" content="{{ object.get_meta_description }}">
    <meta name="author" content="{{ post.author.full_name }}" />
    <link rel="canonical" href="{{ object.get_absolute_url }}" />
{% endblock %}

{% block extra_javascript %}
    {% mptt_comments_media %}
{% endblock %}

{% block body_class %}{{ block.super }} post_detail{% endblock %}
{% block body_id %}post_{{ object.id }}{% endblock %}

{% comment 'previous and next posts' %}
    {% block content_title %}
      <p class="other_posts">
        {% if object.get_previous_by_publish %}
            <a class="previous" href="{{ object.get_previous_post.get_absolute_url }}">&laquo; {{ object.get_previous_post }}</a>
        {% endif %}
        {% if object.get_next_by_publish %}
            | <a class="next" href="{{ object.get_next_post.get_absolute_url }}">{{ object.get_next_post }} &raquo;</a>
        {% endif %}
      </p>
    {% endblock %}
{% endcomment %}

{% block content %}
    {% with object as post %}
        {% include "blog/includes/post_detail.html" %}
    {% endwith %}
{% endblock %}