{% extends "blog/base_blog.html" %}
{% load blog tagging_tags inlines cache oembed_tags mptt_comments_tags i18n tagging_related %}

{% block title %}{{ object.title }} | {{ block.super }}{% endblock %}

{% block navigation_inner %}
    {{ block.super }}
    <li><span></span>{{ object.title }}</li>
{% endblock %}

{% block meta %}
    <meta name="keywords" content="{{ object.get_meta_keywords }}">
    <meta name="description" content="{{ object.get_meta_description }}">
    <meta name="author" content="{{ post.author.full_name }}" />
    <link rel="canonical" href="{{ object.get_absolute_url }}" />
{% endblock %}

{% block extra_javascript %}
    {% mptt_comments_media %}
{% endblock %}

{% block body_class %}{{ block.super }} post_detail{% endblock %}
{% block body_id %}post_{{ object.id }}{% endblock %}

{% block content %}
    {% with object as post %}
        {% include "blog/includes/post_detail.html" %}
    {% endwith %}
{% endblock %}