{% extends "blog/base_archive.html" %}
{% load cache i18n %}

{% block title %}{% trans "Archives for" %} {{ month|date:"F Y"}} | {{ block.super }}{% endblock %}

{% block body_id %}archive_{{ category.id }}{% endblock %}

{% block navigation_inner %}
    {{ block.super }}
    <li><a href="{% url archives %}" title="{% trans "Archives" %}"><span></span>{% trans "Archives" %}</a></li>
    <li><span>{{ year }}</span></li>
{% endblock %}

{% block content %}

{% for post in object_list %}
  {% include "blog/includes/post_list.html" %}
{% endfor %}

{% endblock %}