{% load blog i18n tagging_tags cache social_bookmarking_tags %}

<article role="article" class="entry">
{% block article %}
    <header class="entry-header">
        <ul>
            <li>
                <div class="datetime entry-item">
                    <time datetime="{{ post.publish|date:"Y-m-d" }}">
                        <span class="icon"></span>
                        <span>
                            {{ post.publish|date:"b d, Y" }}
                        </span>
                    </time>
                </div>
            </li>
            {% if post.author %}
            <li>
                <div class="entry-author entry-item">
                    <a href="#" title="{{ post.author.username }}">
                        <span class="icon"></span>
                        <span>
                            {{ post.author.username }}
                        </span>
                    </a>
                </div>
            </li>
            {% endif %}
            {% cache 3600 blog.post_detail.categories post.pk LANGUAGE_CODE %}
            {% if post.categories.all %}
            <li>
                <div class="entry-category entry-item">
                    <ul>
                        {% for category in post.categories.all %}
                        <li>
                        <a href="{% url basic.blog.views.category_detail category.slug %}" title="{{ category.slug }}">
                            <span class="icon"></span>
                            <span>
                                {{ category.title }}
                            </span>
                        </a>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="clear"></div>
                </div>
            </li>
            {% endif %}
            {% endcache %}
            {% if post.allow_comments %}
            <li>
                <div class="count-comment entry-item">
                    <span class="icon"></span>
                    <a href="/{{ LANGUAGE_CODE }}{{ post.get_absolute_url }}#disqus_thread" data-disqus-identifier="post_{{ post.pk }}">
                        {% trans "comments" %}
                    </a>
                </div>
            </li>
            {% endif %}
            {% cache 300 blog.post_detail.tag_list post.pk LANGUAGE_CODE %}
            {% tags_for_object post as tag_list %}
            {% if tag_list %}
            <li>
                <div class="entry-meta entry-item">
                    <span class="icon"></span>
                    <ul>
                        {% for tag in tag_list %}
                        <li>
                            <a href="{% url blog_tag_detail tag %}" title="{{ tag }}">
                                <span class="tag-item">{{ tag }}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="clear"></div>
                </div>
            </li>
            {% endif %}
            {% endcache %}
            <li>
                {% cache 300 blog.post_detail.bookmarks post.pk LANGUAGE_CODE %}
                {% show_bookmarks_related post.title post.get_absolute_url post %}
                {% endcache %}
            </li>
        </ul>
    </header>

    <div class="entry-information">
        <h1 class="title"><a href="/{{ LANGUAGE_CODE }}{{ post.get_absolute_url }}" title="{{ post.title }}">{{ post.title }}</a></h1>
    </div>

    <div class="entry-body">
        <div class="entry-content">
            {% block post_content %}

            {% endblock %}
        </div>
    </div>
{% endblock %}
</article>
