{% load blog i18n mptt_comments_tags tagging_tags inlines oembed_tags cache %}
<article>
{% block article %}
    <header>
        <div class="datetime">
            <time datetime="{{ post.publish }}">
                {{ post.publish|date:"d.m.y" }}
            </time>
        </div>
        {% if post.author %}
        <div class="entry-author">
            <a href="" title="{{ post.author.username }}">{{ post.author.username }}</a>
        </div>
        {% endif %}
        {% cache 3600 "blog.post_detail.categories" post.title %}
        {% if post.categories %}
        <div class="entry-category">
            <ul>
                {% for category in post.categories.all %}
                <li>
                    <a href="{% url basic.blog.views.category_detail category.slug %}" title="{{ category.slug }}">
                        {{ category.slug }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endcache %}
        {% include "blog/includes/share.html" %}
        <div class="clear"></div>
        {% if post.allow_comments %}
        <div class="count-comment">
            {% get_mptt_comment_count for post as comment_count %}
            <a href="{{ post.get_absolute_url }}#comments" title="{% trans "comments" %}">{{ comment_count }}</a>
        </div>
        {% endif %}
    </header>
    <div class="entry-body">
        <h1><a href="{{ post.get_absolute_url }}" title="{{ post.title }}">{{ post.title }}</a></h1>
        {% cache 300 "blog.post_detail.tag_list" post.pk %}
        {% tags_for_object post as tag_list %}
        {% if tag_list %}
        <div class="entry-meta">
            <ul>
            {% for tag in tag_list %}
                <li>
                    <a href="/tags/{{ tag }}">
                        <span>{{ tag }}</span>
                    </a>
                </li>
            {% endfor %}
            </ul>
             <div class="clear"></div>
         </div>
        {% endif %}
        {% endcache %}
        <p class="entry-teaser">{{ post.tease|safe }}</p>
        {% oembed %}
            {{ post.body_markup|render_inlines|safe }}
        {% endoembed %}
    </div>
    <div class="clear"></div>
{% endblock %}
</article>