{% load i18n %}
<div class="share">
    <h1>{% trans "share" %}</h1>
    <div class="share-items">
        <div class="share-right share-diigo">
            <span class="count">2</span>
            <a href="" title="Partager sous diigo">
                <img src="{{ MEDIA_URL }}img/share_diigo.png" alt="Partager sous diigo" />
            </a>
        </div>
        <div class="share-left share-delicious">
            <span class="count">2</span>
            <a href="" title="Partager sous delicious">
                <img src="{{ MEDIA_URL }}img/share_delicious.png" alt="Partager sous delicious" />
            </a>
        </div>
        <div class="clear height-10"></div>
        <div class="share-right share-digg">
            <span class="count">2</span>
            <a href="" title="Partager sous digg">
                <img src="{{ MEDIA_URL }}img/share_digg.png" alt="Partager sous digg" />
            </a>
        </div>
        <div class="share-left share-facebook">
            <span class="count">2</span>
            <a href="" title="Partager sous facebook">
                <img src="{{ MEDIA_URL }}img/share_facebook.png" alt="Partager sous facebook" />
            </a>
        </div>
        <div class="clear height-10"></div>
        <div class="share-right share-friendfeed">
            <span class="count">2</span>
            <a href="" title="Partager sous friendfeed">
                <img src="{{ MEDIA_URL }}img/share_friendfeed.png" alt="Partager sous friendfeed" />
            </a>
        </div>
        <div class="share-left share-twitter">
            <span class="count">2</span>
            <a href="" title="Partager sous twitter">
                <img src="{{ MEDIA_URL }}img/share_twitter.png" alt="Partager sous twitter" />
            </a>
        </div>
        <div class="clear height-10"></div>
        <div class="share-right share-wikio">
            <span class="count">2</span>
            <a href="" title="Partager sous wikio">
                <img src="{{ MEDIA_URL }}img/share_wikio.png" alt="Partager sous wikio" />
            </a>
        </div>
        <div class="share-left share-technorati">
            <span class="count">2</span>
            <a href="" title="Partager sous technorati">
                <img src="{{ MEDIA_URL }}img/share_technorati.png" alt="Partager sous technorati" />
            </a>
        </div>
        <div class="clear"></div>
    </div>
</div>