{% load i18n %}
<div class="share">
    <h1>{% trans "share" %}</h1>
    <div class="share-items">
        <div class="share-right share-diigo">
            <span class="count">2</span>
            <a href="" title="Partager sous diigo">
                <div class="share-icon"></div>
            </a>
        </div>
        <div class="share-left share-delicious">
            <span class="count">2</span>
            <a href="" title="Partager sous delicious">
                <div class="share-icon"></div>
            </a>
        </div>
        <div class="clear height-10"></div>
        <div class="share-right share-digg">
            <span class="count">2</span>
            <a href="" title="Partager sous digg">
                <div class="share-icon"></div>
            </a>
        </div>
        <div class="share-left share-facebook">
            <span class="count">2</span>
            <a href="" title="Partager sous facebook">
                <div class="share-icon"></div>
            </a>
        </div>
        <div class="clear height-10"></div>
        <div class="share-right share-friendfeed">
            <span class="count">2</span>
            <a href="" title="Partager sous friendfeed">
                <div class="share-icon"></div>
            </a>
        </div>
        <div class="share-left share-twitter">
            <span class="count">2</span>
            <a href="" title="Partager sous twitter">
                <div class="share-icon"></div>
            </a>
        </div>
        <div class="clear height-10"></div>
        <div class="share-right share-wikio">
            <span class="count">2</span>
            <a href="" title="Partager sous wikio">
                <div class="share-icon"></div>
            </a>
        </div>
        <div class="share-left share-technorati">
            <span class="count">2</span>
            <a href="" title="Partager sous technorati">
                <div class="share-icon"></div>
            </a>
        </div>
        <div class="clear"></div>
    </div>
</div>