{% load i18n %}
<script type="text/javascript" charset="utf-8">
$(document).ready(function () {
    
    var MpttComment = {
        comments_loaded: [],
        replies_loaded: [],
        
        init: function () {
            this.comment_pk_re = new RegExp("comment-(\\d+)", "");
            this.posted_re = new RegExp("this_is_a_comment", "g");
            
            $('#comments-more').bind("click", function () {
                $.get($(this).attr('href') + '?is_ajax=1', {}, function (data, text_status) {
                    $.each(data.comments_for_update, function(comment) {
                        $('.comment-level-' + (comment.level - 1)).append(comment.html);
                    });
                    
                    var comments_tree = data.comments_tree;
                    if (comments_tree) {
                        $('#mptt-comments-tree')
                            .append(comments_tree.html);
                    }
                    comments_loaded = $('.comment');
                    var remaining_count = data.remaining_count;
                    if (remaining_count > 0) {
                        $('#comments-more-remaining').html(remaining_count);
                        var _href = $('#comments-more').attr('href');
                        $('#comments-more').attr('href',
                            _href.replace(
                                new RegExp("\\d+/$"),
                                parseInt(MpttComment.comment_pk_re.exec(
                                    $(comments_loaded[comments_loaded.length - 1])
                                    .attr('id'))[1]) + '/'
                                )
                        );
                    } else {
                        $('#comments-more')
                            .parent()
                            .hide();
                    }
                    MpttComment.replies();
                },
                "json");
                return false;
            });
            
            var form_wrapper = $('.new-comment-form-wrapper').get(0);
            this.submit($('form', form_wrapper), $(form_wrapper))
            this.replies();
        },

        submit: function (form, nxt) {
            var parameters = {}
            $("input[type=submit]", form).bind("mousedown", function () {
                parameters = {};
                parameters[this.name] = this.value;
            });

            form.bind("submit", function () {
                var dict = $(":input", form).serializeArray();
                $.each(dict, function () {
                    parameters[this.name] = this.value;
                });

                parameters['is_ajax'] = 1;
                $.post(form.attr("action"), parameters, function (data, text_status) {
                    if (!parameters.preview && nxt.hasClass('new-comment-form-wrapper')) {
                        $('#mptt-comments-tree').append(data);
                        nxt.replaceWith('<p>{% trans "Your comment has been posted." %}</p>');
                    } else {
                        nxt
                            .empty()
                            .append(data)
                            .show();
                        MpttComment.submit($('form', nxt), nxt);
                    }
                }, "html");
                return false;
            });
        },
        
        replies: function () {
            $('a.comment-reply').click(function (e) {
                 var parent = $(this).parents('.comment-whole:first');
                 parent.after('<div class="comment-form-wrapper"></div>');
                 $('.comment-form-wrapper').hide();
                 $.get($(this).attr('href') + '?is_ajax=1', function (data, text_status) {
                     var nxt = parent
                                .next('.comment-form-wrapper')
                                .empty()
                                .append(data)
                                .show();
                     MpttComment.submit($('form', nxt), nxt);
                 }, 'html');
                 return false;
             });

            $('a.comment-replies').click(function() {
                var _this = $(this);
                var href = _this.attr('href') + '?is_ajax=1';
                if ($.inArray(href, MpttComment.replies_loaded) == -1) {
                    
                    MpttComment.replies_loaded.push(href);
                    
                    $.get(href, {}, function (data, text_status) {
                        var comments_tree = data.comments_tree;
                        if (comments_tree) {
                            _this
                                .parents('.comment:first')
                                .append(comments_tree.html);
                        }
                        _this
                            .parent()
                            .addClass('comment-no-hidden-replies');
                        MpttComment.replies();
                    }, 'json');
                } else {
                    _this
                        .parents('.comment:first')
                        .children('.comment')
                        .toggle()
                        .end()
                        .end()
                        .parent()
                        .toggleClass('comment-no-hidden-replies');
                }
                return false;
            });
        }
    }
    
    MpttComment.init(); // intercept links
});
</script>
