{% load markup i18n mptt_tags mptt_comments_tags comparison gravatar_tags blog %}

{% for comment, tree in comments|tree_info %}

{% if not tree.new_level %}</article>{% endif %}

<article class="comment comment-level-{{ comment.level }}" id="comment-{{ comment.pk }}">
    <div class="comment-whole">
        <header>
            <img src="{% get_gravatar_for_email comment.email %}" alt="{% trans "gravatar" %}" />
            <div class="comment-meta">
                <div class="comment-author">
                    {% if comment.user_url %}
                        <a href="{{ comment.user_url }}" title="{% trans "go to "%}{{ comment.user_url }}">
                            {{ comment.name }}
                        </a>
                    {% else %}
                        {{ comment.name }}
                    {% endif %}
                    </div>
                <time datetime="{{ comment.submit_date }}">
                    <a href="{% url comment-detail comment.pk %}#comment-{{ comment.pk }}" title="{% trans "comment detail" %}">
                        {{ comment.submit_date|date:"d.m.y" }}
                    </a>
                </time>
            </div> 
        </header>
    

        <div class="comment-body">
            <div class="comment-body-content">
                <h3>{{ comment.title }}</h3>
                {{ comment.comment|escape|linebreaks|markdown }}
            </div>
            <span class="comment-reply">
                <a class="comment-reply" href="{% url comment-reply comment.pk %}" title="{% trans "Reply to the comment" %}">
                    <img src="{{ MEDIA_URL }}img/comment_reply.png" alt="{% trans "Reply to the comment" %}" />
                </a>
            </span>
            {% if comment|children_count %}
            {% ifequal comment.level cutoff_level %}
            <div class="comment-replies">
                <span class="comment-count">{{ comment|children_count }}</span>
                <a class="comment-replies" href="{% url comments-subtree comment.pk %}" title="{% trans "show hidden replies" %}">
                    <img src="{{ MEDIA_URL }}img/comment_hidden.png" alt="{% trans "show hidden replies" %}" />
                </a>
            </div>
            {% else %}
            <div class="comment-replies comment-no-hidden-replies">
                <span class="comment-count">{{ comment|children_count }}</span>
                <img src="{{ MEDIA_URL }}img/comment_hidden.png" alt="{% trans "no hidden replies" %}" />
            </div>
            {% endifequal %}
            {% endif %}
        </div>
    </div>

{% for level in tree.closed_levels %}

    {% if forloop.parentloop.last %}
        {# not the topmost tree, skip closing some levels #}         
        {% if_greater level bottom_level %}</article>{% endif_greater %}
    {% else %}
        </article>
    {% endif %}

{% endfor %}

{% endfor %}   
