{% load markup i18n mptt_tags mptt_comments_tags comparison gravatar_tags blog %}

<article role="comment" class="comment comment-level-{{ comment.level }}" id="comment-{{ comment.pk }}">
<!-- this_is_a_comment -->
    <div class="comment-whole">
        <header>
            <img src="{% get_gravatar_for_email comment.email %}" alt="{% trans "gravatar" %}" />
            <div class="comment-meta">
                <div class="comment-author">
                    {% if comment.user_url %}
                        <a href="{{ comment.user_url|escape }}" title="{% trans "go to "%}{{ comment.user_url|escape }}">
                            {{ comment.name|escape }}
                        </a>
                    {% else %}
                        <span>
                            {{ comment.name|escape}}
                        </span>
                    {% endif %}
                    </div>
                <time datetime="{{ comment.submit_date }}">
                    <a href="{% url comment_detail comment.pk %}#comment-{{ comment.pk }}" title="{% trans "comment detail" %}">
                        {{ comment.submit_date|date:"d.m.y" }}
                    </a>
                </time>
            </div> 
        </header>
        
        <div class="comment-body">
            <div class="comment-body-content">
                <h3>{{ comment.title|escape }}</h3>
                {{ comment.comment|escape|linebreaks|markdown }}
            </div>
            <a class="comment-reply" href="{% url comment_reply comment.pk %}" title="{% trans "Reply to the comment" %}">
                <span class="icon"></span>
            </a>
            {% if comment|children_count %}
            {% ifequal comment.level cutoff_level %}
            <div class="comment-replies">
                <span class="comment-count">{{ comment|children_count }}</span>
                <a class="comment-replies" href="{% url comments_subtree comment.pk %}" title="{% trans "show hidden replies" %}">
                    <span class="icon comment-icon"></span>
                </a>
            </div>
            {% else %}
            <div class="comment-replies comment-no-hidden-replies">
                <span class="comment-count">{{ comment|children_count }}</span>
                <span class="icon comment-icon"></span>
            </div>
            {% endifequal %}
            {% endif %}
        </div>
    </div>
</article>
