{% extends "base.html" %}

{% load i18n blog %}

{% block content %}
    <div class="entry-body">
        <h1>{% trans "Thanks for your comment" %}</h1>
        
        {% get_latest_posts 10 as post_list %}
        <div class="related-posts">
            <h2>{% trans "Recent Posts" %}</h2>
            <ol class="recent-posts">
                {% for post in post_list %}
                <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}
