{% extends "contact_form/base_contact.html" %}

{% load honeypot i18n %}

{% block title %}{% trans "Contact" %} - {{ block.super }}{% endblock %}

{% block content %}

<div class="entry-body">
    <h1>{% trans "Contact Us" %}</h1>
    <p>
        {% trans "Want to contact us?" %}
        <br />
        {% trans "Fill in the form below, we will answer you as soon as possible." %}
    </p>
    <p>
        <form method="POST" action="." class="form">
            <fieldset>
                <ul>
                {% for field in form %}
                    {% if not field.is_hidden %}
                    <li class="{% if not field.field.required %}not{% endif %}required{% if field.errors %} errors{% endif %}{% ifequal field.name "honeypot" %} hidden{% endifequal %}">
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                    </li>
                    {% endif %}
                {% endfor %}
                    {% if form.non_field_errors %}
                    <li class="errors">{{ form.non_field_errors }}</li>
                    {% endif %}
                    <li>
                    {% for field in form %}
                        {% if field.is_hidden %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    {% render_honeypot_field %}
                      <input type="submit" name="submit" class="submit-post" value="{% trans "Post" %}" />
                    </li>
                </ul>
            </fieldset>
        </form>
    </p>
</div>

{% endblock %}